@model DataAccess.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descripción</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Precio</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Cantidad</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="UrlImage" class="control-label">Ruta Imagen</label>
                <input asp-for="UrlImage" class="form-control" value="\\images\\" />
                <span asp-validation-for="UrlImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ProductImage" class="control-label">Imagen del Producto</label>
                <input type="file" id="ProductImage" name="ProductImage" class="form-control" onchange="updateUrlImage()" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Alta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function updateUrlImage() {
            var input = document.getElementById('ProductImage');
            var urlImageInput = document.getElementById('UrlImage');
            if (input.files.length > 0) {
                var fileName = input.files[0].name;
                urlImageInput.value = '\\images\\' + fileName;
            }
        }
    </script>
}
